<footer class ="flavorColor">
  <div class="footerContent baseMargin">
    <div class="copyright leftDiv">
      <p class="inlineList normalBody blackBackgroundText">
        © Hakim Ottey, 2021
      </p>
    </div>
    <div class ="bigScreenFooter">
      <div class="socialMedia rightDiv">
        <div class="skillIconContainer inlineList footerSpacing">
          <a href ="https://github.com/HakimMalikOttey" rel="noreferrer noopener" target="_blank">
            <svg class ="dimensionFit blackBackgroundHoverIcon buttonHover" id="_394187_github_icon" data-name="394187_github_icon" xmlns="http://www.w3.org/2000/svg" width="54" height="52.667" viewBox="0 0 54 52.667">
              <path id="Path_20" data-name="Path 20" d="M-1132.29,1662.92a27,27,0,0,0-27,27,27.007,27.007,0,0,0,18.464,25.62c1.349.25,1.845-.586,1.845-1.3,0-.644-.025-2.771-.037-5.027-7.511,1.634-9.1-3.186-9.1-3.186-1.228-3.121-3-3.951-3-3.951-2.45-1.676.185-1.641.185-1.641a5.675,5.675,0,0,1,4.139,2.783c2.408,4.127,6.316,2.934,7.857,2.244a5.75,5.75,0,0,1,1.714-3.61c-6-.682-12.3-3-12.3-13.344a10.449,10.449,0,0,1,2.782-7.247,9.7,9.7,0,0,1,.262-7.146s2.267-.725,7.427,2.768a25.886,25.886,0,0,1,6.758-.909,25.95,25.95,0,0,1,6.764.909c5.154-3.493,7.418-2.768,7.418-2.768a9.691,9.691,0,0,1,.265,7.146,10.428,10.428,0,0,1,2.779,7.247c0,10.371-6.316,12.654-12.329,13.322a6.454,6.454,0,0,1,1.831,5c0,3.613-.031,6.52-.031,7.41,0,.719.486,1.561,1.854,1.3a27,27,0,0,0,18.449-25.617A27,27,0,0,0-1132.29,1662.92Z" transform="translate(1159.29 -1662.92)" fill-rule="evenodd"/>
              <path id="Path_21" data-name="Path 21" d="M-1149.96,1698.28c-.054.123-.247.159-.422.075s-.279-.247-.221-.37.246-.161.424-.077.279.252.219.372Zm-.3-.23" transform="translate(1159.29 -1659.52)"/>
              <path id="Path_22" data-name="Path 22" d="M-1148.96,1699.39c-.117.109-.347.058-.5-.114a.376.376,0,0,1-.072-.512c.121-.109.344-.058.505.114a.376.376,0,0,1,.07.512Zm-.24-.25" transform="translate(1160.236 -1659.422)"/>
              <path id="Path_23" data-name="Path 23" d="M-1147.99,1700.81c-.151.105-.4.007-.551-.212s-.151-.482,0-.587.4-.01.551.207a.444.444,0,0,1,0,.593Zm0,0" transform="translate(1160.33 -1659.288)"/>
              <path id="Path_24" data-name="Path 24" d="M-1146.66,1702.18c-.135.149-.423.109-.633-.094a.474.474,0,0,1-.14-.629c.137-.149.426-.107.638.094s.275.479.135.629Zm0,0" transform="translate(1160.446 -1658.297)"/>
              <path id="Path_25" data-name="Path 25" d="M-1144.83,1702.98c-.06.193-.337.28-.615.2s-.461-.31-.4-.505.336-.286.617-.2.463.3.4.5Zm0,0" transform="translate(1160.61 -1658.297)"/>
              <path id="Path_26" data-name="Path 26" d="M-1142.81,1703.12c.007.2-.23.372-.523.375s-.533-.158-.536-.358.231-.372.526-.377.533.159.533.359Zm0,0" transform="translate(1160.807 -1658.297)"/>
              <path id="Path_27" data-name="Path 27" d="M-1140.94,1702.81c.035.2-.169.4-.459.456s-.55-.07-.587-.266.172-.407.457-.459.559.06.589.27Zm0,0" transform="translate(1160.991 -1658.297)"/>
            </svg>
          </a>
        </div>
        <div class="skillIconContainer inlineList footerSpacing">
          <a href="https://www.linkedin.com/in/hakim-ottey-2ab695b7/" rel="noreferrer noopener" target="_blank">
            <svg class ="dimensionFit blackBackgroundHoverIcon buttonHover" id="_5282542_linkedin_network_social_network_linkedin_logo_icon" data-name="5282542_linkedin_network_social network_linkedin logo_icon" xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54">
              <path id="_5282542_linkedin_network_social_network_linkedin_logo_icon-2" data-name="5282542_linkedin_network_social network_linkedin logo_icon" d="M47.4,0A6.6,6.6,0,0,1,54,6.6V47.4A6.6,6.6,0,0,1,47.4,54H6.6A6.6,6.6,0,0,1,0,47.4V6.6A6.6,6.6,0,0,1,6.6,0H47.4ZM16.924,44.643V20.837H9.009V44.643Zm28.533,0V30.991c0-7.312-3.9-10.714-9.11-10.714a7.86,7.86,0,0,0-7.131,3.93V20.837H21.3c.1,2.234,0,23.806,0,23.806h7.912V31.348a5.411,5.411,0,0,1,.261-1.932,4.33,4.33,0,0,1,4.06-2.893c2.862,0,4.009,2.184,4.009,5.383V44.643ZM13.02,9.357c-2.708,0-4.477,1.78-4.477,4.113a4.1,4.1,0,0,0,4.372,4.113h.051a4.126,4.126,0,1,0,.054-8.227Z" fill-rule="evenodd"/>
            </svg>
          </a>
        </div>
        <div class="skillIconContainer inlineList footerSpacing">
          <a href="https://www.facebook.com/HakimMalikOttey/" rel="noreferrer noopener" target="_blank">
            <svg class ="dimensionFit blackBackgroundHoverIcon buttonHover"  id="_107175_circle_facebook_icon" data-name="107175_circle_facebook_icon" xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54">
              <path id="_107175_circle_facebook_icon-2" data-name="107175_circle_facebook_icon" d="M27.188,45.688h6.07V31h4.049l.536-5.062H33.258l.006-2.534c0-1.319.126-2.028,2.02-2.028h2.531V16.312h-4.05c-4.864,0-6.576,2.456-6.576,6.585v3.039H24.156V31h3.032ZM31,58A27,27,0,1,1,58,31,27,27,0,0,1,31,58Z" transform="translate(-4 -4)" fill-rule="evenodd"/>
            </svg>
          </a>
        </div>
        <div class="skillIconContainer inlineList footerSpacing">
          <a href="https://twitter.com/HakimOttey" rel="noreferrer noopener" target="_blank">
            <svg class ="dimensionFit blackBackgroundHoverIcon buttonHover" xmlns="http://www.w3.org/2000/svg" width="54" height="43.886" viewBox="0 0 54 43.886">
              <path id="_317720_social_media_tweet_twitter_social_icon" data-name="317720_social media_tweet_twitter_social_icon" d="M54,8.194a21.99,21.99,0,0,1-6.363,1.744A11.12,11.12,0,0,0,52.511,3.81,22.186,22.186,0,0,1,45.475,6.5,11.092,11.092,0,0,0,26.594,16.6,31.458,31.458,0,0,1,3.758,5.027,11.1,11.1,0,0,0,7.186,19.82,11.045,11.045,0,0,1,2.17,18.434c0,.046,0,.095,0,.138a11.086,11.086,0,0,0,8.887,10.865,11.13,11.13,0,0,1-5,.191A11.092,11.092,0,0,0,16.4,37.322,22.223,22.223,0,0,1,2.644,42.067,22.39,22.39,0,0,1,0,41.912a31.382,31.382,0,0,0,16.982,4.974c20.377,0,31.522-16.881,31.522-31.522,0-.479-.014-.959-.034-1.435A22.475,22.475,0,0,0,54,8.194Z" transform="translate(-0.001 -3)"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- For smaller screens like phones and tablets -->
    <div class ="smallScreenFooter">
      <div class="socialMedia leftDiv">
        <div class="skillIconContainer inlineList footerSpacing">
          <a href ="https://github.com/HakimMalikOttey" rel="noreferrer noopener" target="_blank">
            <svg class ="dimensionFit blackBackgroundHoverIcon socialIcon buttonHover" id="_394187_github_icon" data-name="394187_github_icon" xmlns="http://www.w3.org/2000/svg" width="54" height="52.667" viewBox="0 0 54 52.667">
              <path id="Path_20" data-name="Path 20" d="M-1132.29,1662.92a27,27,0,0,0-27,27,27.007,27.007,0,0,0,18.464,25.62c1.349.25,1.845-.586,1.845-1.3,0-.644-.025-2.771-.037-5.027-7.511,1.634-9.1-3.186-9.1-3.186-1.228-3.121-3-3.951-3-3.951-2.45-1.676.185-1.641.185-1.641a5.675,5.675,0,0,1,4.139,2.783c2.408,4.127,6.316,2.934,7.857,2.244a5.75,5.75,0,0,1,1.714-3.61c-6-.682-12.3-3-12.3-13.344a10.449,10.449,0,0,1,2.782-7.247,9.7,9.7,0,0,1,.262-7.146s2.267-.725,7.427,2.768a25.886,25.886,0,0,1,6.758-.909,25.95,25.95,0,0,1,6.764.909c5.154-3.493,7.418-2.768,7.418-2.768a9.691,9.691,0,0,1,.265,7.146,10.428,10.428,0,0,1,2.779,7.247c0,10.371-6.316,12.654-12.329,13.322a6.454,6.454,0,0,1,1.831,5c0,3.613-.031,6.52-.031,7.41,0,.719.486,1.561,1.854,1.3a27,27,0,0,0,18.449-25.617A27,27,0,0,0-1132.29,1662.92Z" transform="translate(1159.29 -1662.92)" fill-rule="evenodd"/>
              <path id="Path_21" data-name="Path 21" d="M-1149.96,1698.28c-.054.123-.247.159-.422.075s-.279-.247-.221-.37.246-.161.424-.077.279.252.219.372Zm-.3-.23" transform="translate(1159.29 -1659.52)"/>
              <path id="Path_22" data-name="Path 22" d="M-1148.96,1699.39c-.117.109-.347.058-.5-.114a.376.376,0,0,1-.072-.512c.121-.109.344-.058.505.114a.376.376,0,0,1,.07.512Zm-.24-.25" transform="translate(1160.236 -1659.422)"/>
              <path id="Path_23" data-name="Path 23" d="M-1147.99,1700.81c-.151.105-.4.007-.551-.212s-.151-.482,0-.587.4-.01.551.207a.444.444,0,0,1,0,.593Zm0,0" transform="translate(1160.33 -1659.288)"/>
              <path id="Path_24" data-name="Path 24" d="M-1146.66,1702.18c-.135.149-.423.109-.633-.094a.474.474,0,0,1-.14-.629c.137-.149.426-.107.638.094s.275.479.135.629Zm0,0" transform="translate(1160.446 -1658.297)"/>
              <path id="Path_25" data-name="Path 25" d="M-1144.83,1702.98c-.06.193-.337.28-.615.2s-.461-.31-.4-.505.336-.286.617-.2.463.3.4.5Zm0,0" transform="translate(1160.61 -1658.297)"/>
              <path id="Path_26" data-name="Path 26" d="M-1142.81,1703.12c.007.2-.23.372-.523.375s-.533-.158-.536-.358.231-.372.526-.377.533.159.533.359Zm0,0" transform="translate(1160.807 -1658.297)"/>
              <path id="Path_27" data-name="Path 27" d="M-1140.94,1702.81c.035.2-.169.4-.459.456s-.55-.07-.587-.266.172-.407.457-.459.559.06.589.27Zm0,0" transform="translate(1160.991 -1658.297)"/>
            </svg>
          </a>
        </div>
        <div class="skillIconContainer inlineList footerSpacing iconHover">
          <a href="https://www.linkedin.com/in/hakim-ottey-2ab695b7/" rel="noreferrer noopener" target="_blank">
            <svg class ="dimensionFit blackBackgroundHoverIcon socialIcon buttonHover" id="_5282542_linkedin_network_social_network_linkedin_logo_icon" data-name="5282542_linkedin_network_social network_linkedin logo_icon" xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54">
              <path id="_5282542_linkedin_network_social_network_linkedin_logo_icon-2" data-name="5282542_linkedin_network_social network_linkedin logo_icon" d="M47.4,0A6.6,6.6,0,0,1,54,6.6V47.4A6.6,6.6,0,0,1,47.4,54H6.6A6.6,6.6,0,0,1,0,47.4V6.6A6.6,6.6,0,0,1,6.6,0H47.4ZM16.924,44.643V20.837H9.009V44.643Zm28.533,0V30.991c0-7.312-3.9-10.714-9.11-10.714a7.86,7.86,0,0,0-7.131,3.93V20.837H21.3c.1,2.234,0,23.806,0,23.806h7.912V31.348a5.411,5.411,0,0,1,.261-1.932,4.33,4.33,0,0,1,4.06-2.893c2.862,0,4.009,2.184,4.009,5.383V44.643ZM13.02,9.357c-2.708,0-4.477,1.78-4.477,4.113a4.1,4.1,0,0,0,4.372,4.113h.051a4.126,4.126,0,1,0,.054-8.227Z" fill-rule="evenodd"/>
            </svg>
          </a>
        </div>
        <div class="skillIconContainer inlineList footerSpacing">
          <a href="https://www.facebook.com/HakimMalikOttey/" rel="noreferrer noopener" target="_blank">
            <svg class ="dimensionFit blackBackgroundHoverIcon socialIcon buttonHover"  id="_107175_circle_facebook_icon" data-name="107175_circle_facebook_icon" xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54">
              <path id="_107175_circle_facebook_icon-2" data-name="107175_circle_facebook_icon" d="M27.188,45.688h6.07V31h4.049l.536-5.062H33.258l.006-2.534c0-1.319.126-2.028,2.02-2.028h2.531V16.312h-4.05c-4.864,0-6.576,2.456-6.576,6.585v3.039H24.156V31h3.032ZM31,58A27,27,0,1,1,58,31,27,27,0,0,1,31,58Z" transform="translate(-4 -4)" fill-rule="evenodd"/>
            </svg>
          </a>
        </div>
        <div class="skillIconContainer inlineList footerSpacing">
          <a href="https://twitter.com/HakimOttey" rel="noreferrer noopener" target="_blank">
            <svg class ="dimensionFit blackBackgroundHoverIcon socialIcon buttonHover" xmlns="http://www.w3.org/2000/svg" width="54" height="43.886" viewBox="0 0 54 43.886">
              <path id="_317720_social_media_tweet_twitter_social_icon" data-name="317720_social media_tweet_twitter_social_icon" d="M54,8.194a21.99,21.99,0,0,1-6.363,1.744A11.12,11.12,0,0,0,52.511,3.81,22.186,22.186,0,0,1,45.475,6.5,11.092,11.092,0,0,0,26.594,16.6,31.458,31.458,0,0,1,3.758,5.027,11.1,11.1,0,0,0,7.186,19.82,11.045,11.045,0,0,1,2.17,18.434c0,.046,0,.095,0,.138a11.086,11.086,0,0,0,8.887,10.865,11.13,11.13,0,0,1-5,.191A11.092,11.092,0,0,0,16.4,37.322,22.223,22.223,0,0,1,2.644,42.067,22.39,22.39,0,0,1,0,41.912a31.382,31.382,0,0,0,16.982,4.974c20.377,0,31.522-16.881,31.522-31.522,0-.479-.014-.959-.034-1.435A22.475,22.475,0,0,0,54,8.194Z" transform="translate(-0.001 -3)"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>

</html>
