<html lang="en" dir="ltr">
  <head>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfKyM0eAAAAAPh2PMaD6Il3ii43TGWbHeFpBRWX"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/mvk6fug.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">  </script>
    <script type="text/javascript" src="/javascript/function.js"></script>
    <title>Hakim Ottey Portfolio</title>
  </head>
  <body>
